<nb-tabset (changeTab)="tabChanged($event)">
  <nb-tab *ngFor ="let tabRec of tabData" [tabTitle]=tabRec.tabTitle>
      <ng-container [ngSwitch] = "tabRec.tabTitle">
            <ng-container *ngSwitchCase="'Service Providers'">
                <nb-layout>
                    <nb-layout-column>
                        <div style='display:flex;flex-direction:row-reverse'><button (click)="open(serviceProviderFormContainer)" nbButton status="basic" outline><nb-icon icon='plus-outline'></nb-icon>New</button></div>
                        <app-table [actions]="rowActions" [rows]="serviceProviders" [trackByPropertyName]="trackServiceProviderByProp"></app-table>
                        
                    </nb-layout-column>
                </nb-layout>
                
            </ng-container>
            <span *ngSwitchCase="'Daily Working Hours'">Workging Hours</span>
            <span *ngSwitchDefault>Business Closed Dates</span>
      </ng-container>
  </nb-tab>
</nb-tabset>

<ng-template #serviceProviderFormContainer let-data let-ref="dialogRef">
    <div style="background-color:#303050;">
        <app-schedule-form (submit)="serviceProviderFormSubmit($event)" [serviceProvider]="serviceProviderData"></app-schedule-form>
    </div>
    
</ng-template>

<ng-template #editServiceProviderTemplate>
    <div style="background-color:#303050;">
        <app-schedule-form (submit)="submitServiceProviderEditions($event)" [serviceProvider]="serviceProviderEditedData"></app-schedule-form>
    </div>
</ng-template>
