<div class="app-service-form-container">
    <form (ngSubmit)="onSubmit()" class="app-service-form" enctype="multipart/form-data" #serviceForm>
        <label>Name</label><input nbInput status="primary" type="text" name="name" [(ngModel)]="service.name">
        <label>Duration</label><input nbInput status="primary" type="text" name="duration" [(ngModel)]="service.duration">
        <label>Cost</label><input  nbInput status="primary" type="text" name="cost" [(ngModel)]="service.cost">
        <label>Image File</label><input name="imageFile" type="file" nbInput status="primary">
        <button nbButton status="primary">Submit</button>
    </form>
</div>