<div class="app-service-form-container">
    <form (ngSubmit)="onSubmit()" class="app-extra-form">
        <label>Name</label><input nbInput status="primary" type="text" name="name" [(ngModel)]="extra.name">
        <label>Cost (Rands)</label><input  nbInput status="primary" type="number" name="cost" [(ngModel)]="extra.cost">
        <label>Duration (minutes)</label><input  nbInput status="primary" type="number" name="duration" [(ngModel)]="extra.duration">
        
        <button nbButton status="primary">Submit</button>
    </form>
</div>