<table #tableElement class="app-table">
  <div style="text-align:center" *ngIf="!rows || rows.length==0">No Data</div>
  <thead *ngIf="rows && rows.length>0"><tr><th *ngFor="let colName of columnNames">{{colName}}</th><th>Action</th></tr></thead>
  <tbody>
    <tr [ngStyle]="getPadding()" *ngFor="let rowEle of rows;trackBy:trackByProperty"><td *ngFor="let propVal of recordToValues(rowEle)">{{propVal}}</td><td><ng-container *ngFor="let action of actions"><app-icon-button (click)="action.rowclick(rowEle)" icon="{{action.icon}}" [nbPopover]='action.popupTrigger?action.popupContent:undefined' [nbPopoverTrigger]="action.popupTrigger?popupTriggerType:'noop'"></app-icon-button></ng-container></td></tr>
  </tbody>
</table>

