<table #tableElement class="app-table">
  <div style="text-align:center" *ngIf="!rows || rows.length==0">No Data</div>
  <thead *ngIf="rows && rows.length>0"><tr><ng-container *ngFor="let colName of columnNames"><th *ngIf="!isExcluded(colName)">{{colName}}</th></ng-container><th>Action</th></tr></thead>
  <tbody>
    <ng-container *ngFor="let rowEle of rows;trackBy:trackByProperty">
      <tr *ngIf="rowEle" [ngStyle]="getPadding()" ><ng-container *ngFor="let entry of recordToEntries(rowEle)"><td *ngIf="!isExcluded(entry.key)">{{entry.value}}</td></ng-container><td><ng-container *ngFor="let action of actions"><app-icon-button (click)="onActionClick(rowEle,action.popupTrigger,action.popupContent,action.rowclick)" [icon]="action.icon"></app-icon-button></ng-container></td></tr>
    </ng-container>
    </tbody>
</table>

